@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

.fonts{
    font-family: 'Quicksand', sans-serif;
}

body {
    margin: 0 20%;
}

.gallery-container {
    width: 100%;
    max-width: 1200px;  
    margin: 0 auto;      
    padding: 20px;       
    box-sizing: border-box;
    font-size: 30px;
}

.nav-menu {
    display: flex;
    align-items: center;         
    justify-content: center;
}

.nav-menu a {
    margin-left: 40px;          
    text-decoration: none;      
    color: #888;               
    font-size: 14px;            
    letter-spacing: 1px;        
    text-transform: uppercase; 
}

.nav-menu a:hover {
    color: #000000;
}

#container-contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#container-contact .text-section {
    text-align: center;
    margin: auto auto;
}

#container-contact #emailform {
    margin: auto auto
}
#facebook{
    color: #3b5998;
}
#instagram{
    color: #A020F0;
}
